.container {
  /* outline: 1px solid red; */
  width: 80vw;
  min-width: 320px;
  max-width: 1015px;
  height: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-items: center;
  justify-content: center;
  margin-top: 3.5vh;
}
