.container {
  border: 1px solid white;
  box-sizing: border-box;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 16px;
  min-width: 250px;
  min-height: 250px;
  box-shadow: 0px 0px 6.3px rgba(0, 0, 0, 0.1), 0px 0px 50px rgba(0, 0, 0, 0.2);
  animation: cardAnimation 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.gameImg {
  position: relative;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  border-radius: 16px;
  width: 100%;
  height: 75%;
}

.shortDesc {
  display: flex;
  align-items: center;
  margin-top: 1px;
  position: relative;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 16px;
  width: 100%;
  height: 25%;
}

.details {
  height: 100%;
  width: 30%;
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: rgb(182, 28, 22);
}

.btnDetails {
  font-size: 1.5em;
  color: white;
}

.textDesc {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-size: 0.75rem;
  font-weight: bold;
  color: rgb(182, 28, 22);
}

@keyframes cardAnimation {
  0% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
  }
}
